/* Prettified by Source 2 Viewer 10.0.0.0 - https://valveresourceformat.github.io */

#HeroBuildsDropDown
{
	height: 60px;
	width: fit-children;
	min-width: 550px;
	max-width: 850px;
	border: 0px solid baseBorder;
	padding: 4px 7px 3px 7px;
	background-color: goldColor;
	background-image: none;
	box-shadow: none;
	font-size: 18px;
	font-family: 'Retail Demo';
	font-weight: normal;
	color: offWhite;
	background-image: url("s2r://panorama/images/shop/build_selector_carat.vsvg");
	background-size: 16px 8px;
	background-repeat: no-repeat;
	background-position: right 30px center;
}

CitadelHeroBuildsPage #HeroBuildsDropDown
{
	background-color: #333;
}

#HeroBuildsDropDown:hover
{
	brightness: 1.4;
}

DropDownMenu
{
	width: 55.2%;
	max-width: 550px;
}

DropDownMenu.SmallHeroBuild
{
	width: 470px;
}

.HeroBuildDropDownItem
{
	tooltip-position: left;
}

DropDown.DropDownMenuVisible:focus Label,CitadelSettingsEnumDropDown.DropDownMenuVisible:focus Label,DropDown Label,CitadelSettingsEnumDropDown Label
{
	color: offBlack;
	font-size: 22px;
	vertical-align: middle;
	margin-top: 10px;
	margin-right: 20px;
	tooltip-position: bottom;
	text-overflow: shrink;
}

DropDown:focus Label,CitadelSettingsEnumDropDown:focus Label
{
	color: offBlack;
	font-size: 22px;
	vertical-align: middle;
	margin-top: 5px;
	width: fit-children;
}

.ChangeBuild
{
	font-weight: semi-bold;
}

.BuildName
{
	font-weight: bold;
}

.HeroBuildNav DropDown.DropDownMenuVisible:focus Label,.HeroBuildNav CitadelSettingsEnumDropDown.DropDownMenuVisible:focus Label,.HeroBuildNav DropDown Label,.HeroBuildNav CitadelSettingsEnumDropDown Label,.HeroBuildNav DropDown:focus Label,.HeroBuildNav CitadelSettingsEnumDropDown:focus Label
{
	color: offWhite;
	font-size: 18px;
	font-weight: semi-bold;
	vertical-align: middle;
	margin-top: 5px;
	margin-right: 0px;
	tooltip-position: bottom;
}

DropDownMenu Label
{
	color: offBlack&ee;
	font-size: 18px;
	font-weight: semi-bold;
	padding-bottom: 7px;
	width: fit-children;
	background-color: none;
	margin-top: 2px;
	border-top: 0px solid #00000000;
	border-bottom: 1px solid #00000010;
}

DropDownMenu .IsLocalPlayersBuild Label
{
	padding-left: 10px;
}

DropDownMenu Label:hover
{
	background-color: none;
}

DropDownMenu .DropDownChild:hover
{
	background-color: goldColor;
}

DropDownMenu .HeroBuildDropDownItem.IsLocalPlayersBuild
{
	background-color: #D5C96E;
}

DropDownMenu .HeroBuildDropDownItem.IsLocalPlayersBuild:hover
{
	background-color: goldColor;
}

DropDownMenu .ChangeBuild,DropDownMenu #DropdownCarat
{
	visibility: collapse;
}

#DropdownCarat
{
	background-image: url("s2r://panorama/images/shop/build_selector_carat.vsvg");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	width: 16px;
	height: 15px;
	vertical-align: middle;
	margin-top: 6px;
}

#DescIcon
{
	vertical-align: middle;
	background-size: contain;
	background-repeat: no-repeat;
	visibility: collapse;
	opacity: 0.5;
	font-size: 14px;
	text-transform: uppercase;
	background-color: #000000;
	padding: 0px 5px;
	border-radius: 3px;
	font-weight: bold;
	color: goldColor;
	width: fit-children;
	height: 19px;
	margin-top: 8px;
}

DropDownMenu #DescIcon
{
	margin-top: 0px;
}

.DropDownChild
{
	height: 40px;
	width: 100%;
	max-width: 550px;
	flow-children: right;
	background-color: #A0964E;
}

CitadelHeroBuildsSelector .DropDownChild
{
	background-color: none;
}

.DropdownChild:hover
{
	background-color: #ffffff10;
}

DropDownMenu:focus
{
	color: offBlack&90;
}

.DropDownHeader
{
	flow-children: down;
	width: 100%;
	height: 100%;
}

.IsLocalPlayersBuild #DescIcon
{
	visibility: visible;
}

CitadelHeroBuildsSelector .IsLocalPlayersBuild #DescIcon
{
	visibility: collapse;
}

.TooltipOverride
{
	margin-left: 10px;
	width: 100%;
	height: 100%;
	z-index: 1000000;
}

