/* Prettified by Source 2 Viewer 10.1.0.0 - https://valveresourceformat.github.io */

@define hintShowDuration: 0.25s;
@define hintTimingFunction: ease-in;
@define colorEmphasis: #FFCC00;
@define colorCommonOffBlack: #222222;
@define offWhite: #FFEFD7;
@define offBlack: #10130D;
.messagePanel
{
	width: 630px;
	font-size: 18px;
	font-weight: semi-bold;
	color: colorCommonOffBlack;
	opacity: 0;
	transition-property: opacity;
	transition-duration: 0.1s;
	flow-children: right;
	margin-right: 50px;
}

.speaking.messagePanel
{
	opacity: 1;
}

.container
{
	width: 100%;
	horizontal-align: center;
}

.botHero
{
	width: 140px;
	height: 70px;
	background-size: contain;
	background-repeat: no-repeat;
	align: right bottom;
}

.hero_forge.botHero
{
	background-image: url("s2r://panorama/images/botmatch/forge_head_png.vtex");
}

.hero_gigawatt.botHero
{
	background-image: url("s2r://panorama/images/botmatch/gigawatt_head_png.vtex");
}

.hero_kelvin.botHero
{
	background-image: url("s2r://panorama/images/botmatch/kelvin_head_png.vtex");
}

.body
{
	horizontal-align: left;
	width: 500px;
	background-color: #fefefe;
	transform: skew(15deg);
	pre-transform-scale2d: 1, 1;
	border-radius: 10px;
	margin: 0px 30px;
}

.hintActive .body
{
	animation-name: scaleBody;
	animation-duration: hintShowDuration;
	animation-timing-function: hintTimingFunction;
	animation-fill-mode: forwards;
	overflow: noclip;
}

@keyframes 'scaleBody'
{
	0%
	{
		pre-transform-scale2d: 0, 1;
	}
	
	100%
	{
		pre-transform-scale2d: 1, 1;
	}
	
}

.speaking .hintPanel
{
	opacity: 1;
}

#hintText
{
	width: 100%;
	text-align: left;
	align: center center;
	padding: 15px 25px 15px 30px;
	border-radius: 8px;
	transform: skew(-15deg);
	opacity: 0;
	wash-color: offWhite;
}

.speaking #hintText
{
	animation-name: showText;
	animation-duration: 0.2s;
	animation-delay: hintShowDuration;
	animation-timing-function: hintTimingFunction;
	animation-fill-mode: forwards;
}

.hintTextEmphasis
{
	color: colorEmphasis;
	font-weight: bold;
}

@keyframes 'showText'
{
	0%
	{
		opacity: 0;
	}
	
	100%
	{
		opacity: 1;
	}
	
}

.infoIcon
{
	width: 64px;
	height: 64px;
	margin: 16px;
	vertical-align: center;
	border-radius: 48px;
	background-size: 100% 100%;
	background-image: url("s2r://panorama/images/control_icons/info_icon.vsvg");
	wash-color: colorEmphasis;
	opacity: 0;
	transform: translate3d(-48px, 0px, 0px);
}

